<section class="about" id="about">
  <div class="container">
    <p class="subtitle about__subtitle">tradition and love</p>
    <h2 class="title about__title">how it’s made?</h2>
    <div class="">
      <div class="">
      <picture>
        <source srcset="../images/about/cow-desktop.png 1x, ../images/about/cow@2x-desktop.png 2x" media="(min-width:1280px)">
        <source srcset="../images/about/cow-tab.png 1x, ../images/about/cow@2x-tab.png 2x" media="(min-width:768px)">
        <source srcset="../images/about/cow-mob.png 1x, ../images/about/cow@2x-mob.png 2x" media="(min-width:320px)"> 
        <img class="about__img" src="../images/about/cow-mob.png" alt="корова" width="">
      </picture>
      </div>
      <div class="about-description">
      <p class="about-description__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
      <p class="about-description__subtext">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.Aliquam erat volutpat. Aenean accumsan.</p> 
      <button type="button" class="about-button">Read more</button>
    </div>
  </div>
  </div>
</section>