<section class="advantages">
  <div class="container">
    <h2 class="is-hidden">Advantures</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item advantages-list__item--first">
        <p class="advantages-list__text--first">721</p>
        <p class="advantages-list__text--second">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--second">
        <p class="advantages-list__text--first">16kg</p>
        <p class="advantages-list__text--second">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item advantages-list__item--third">
        <p class="advantages-list__text--first">84</p>
        <p class="advantages-list__text--second">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
