<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery__container">
    <picture>
      <source
        srcset="./images/gallery/gallery.jpg 1x, ./images/gallery/gallery-2x.jpg 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/gallery/tablet-gallery.jpg 1x, ./images/gallery/tablet-gallery-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery/mobile-gallery.jpg 1x, ./images/gallery/mobile-gallery-2x.jpg 2x"
        media="(min-width: 320px)"
      />
      <img
        srcset="./images/gallery/gallery.jpg 1x, ./images/gallery/gallery-2x.jpg 2x"
        src="./images/gallery/gallery.jpg"
        alt="gallery"
        width="100%"
      />
    </picture>
  </div>
</section>
