<section class="gallegy container">
  <h2 class="visually-hidden">Gallery</h2>
  <picture>
    <source
      srcset=".../images/gallery/gallery.jpg 1x, ../images/gallery/gallery-2x.png 2x"
      media="(min-width: 1200px)"
    />
    <source
      srcset="../images/gallery/table-gallery.png 1x, ../images/gallery/table-gallery-2x.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="../images/gallery/tel-gallery.png 1x, ../images/gallery/table-gallery-2x.png 2x"
      media="(min-width: 320px)"
    />
    <img
      srcset="../images/gallery/gallery.png 1x, ../images/gallery/gallery-2x.png 2x"
      src="../images/gallery/gallery.png"
      alt="gallery"
    />
  </picture>
</section>
