<header class="header">
  <div class="container header-wraper">
    <a class="logo" href="./index.html">
      <img src="./images/logo/logo.png" alt="Логотип" />
    </a>
    <button type="button" class="menu-button">
      <svg width="20" height="14">
        <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
    <button>
      <svg width="14" height="14">
        <use class="icon-cross" href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <button type="button" class="header-button pointer">
      <span class="button__text">Buy now</span>
      <svg width="6" height="10" class="button__icon--white">
        <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <button type="button" class="modal-button pointer">
        <span class="modal-button__text">Buy now</span>
        <svg width="6" height="10" class="button__icon--white">
          <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="" class="nav-list__link" id="home">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link" id="about-us">About us</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link" id="how-made ">How it's made?</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link" id="products">Our products</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link" id="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
