<section class="hero">
        <div class="container hero__container">
          <div class="title-block__wrapper">
            <h1 class="hero__title">ice cream made with <span>passion</span></h1>
            <ul class="hero-title-block__list">
              <li class="hero-title-block__item">
                <a class="hero-title-block__link link" href="">Products</a>
              </li>
              <li class="hero-title-block__item">
                <a class="hero-title-block__link link" href="">How it’s made</a>
              </li>
            </ul>
          </div>
          <div class="hero-outlets-numbers__wrapper">
            <ul class="hero-outlets-numbers__list">
              <li class="hero-outlets-numbers__item">
                <h2 class="hero-outlets-numbers__title">16</h2>
                <p class="hero-outlets-numbers__text">cafes</p>
              </li>
              <li class="hero-outlets-numbers__item">
                <h2 class="hero-outlets-numbers__title">23</h2>
                <p class="hero-outlets-numbers__text">food trucks</p>
              </li>
            </ul>
          </div>
          <div class="hero-jug-block__wrapper">
            <!-- <picture>
              <source
                srcset="./images/desktop/hero-jug-desktop@1x.png 1x, ./images/desktop/hero-jug-desktop@1x.png 2x"
                media="(min-width:1200px)"
              />
              <source
                srcset="./images/tablet/hero-jug-tablet@1x.png 1x, ./images/tablet/hero-jug-tablet@2x.png 2x"
                media="(min-width:768px)"
              />
              <img class="hero-jug-block__image" src="./images/tablet/hero-jug-tablet@1x.png" alt="jug" />
            </picture> -->
            <div class="hero-jug-block__article">
              <div class="hero-jug-block__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              </div>
              <a class="hero-jug-block__link" href="">&#8594;</a>
            </div>
          </div>
          <div class="hero-icecream__wrapper">
            <!-- <picture>
              <source
                srcset="
                  ./images/desktop/hero-icecream-desktop@1x.png 1x,
                  ./images/desktop/hero-icecream-desktop@1x.png 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="./images/tablet/hero-icecream-tablet@1x.png 1x, ./images/tablet/hero-icecream-tablet@1x.png 2x"
                media="(min-width:768px)"
              />
              <source
                srcset="./images/mobile/hero-icecream-mobile@1x.png 1x, ./images/mobile/hero-icecream-mobile@2x.png 2x"
                media="(min-width:480px)"
              />
              <img class="hero-icecream__image" src="./images/mobile/hero-icecream-mobile@1x.png" alt="icecream" />
            </picture> -->
          </div>
          <div class="hero-girl__wrapper">
            <!-- <picture>
              <source
                srcset="./images/desktop/hero-girl-desktop@1x.png 1x, ./images/desktop/hero-girl-desktop@1x.png 2x"
                media="(min-width:1200px)"
              />
              <source
                srcset="./images/tablet/hero-girl-tablet@1x.png 1x, ./images/tablet/hero-girl-tablet@1x.png 2x"
                media="(min-width:768px)"
              />
              <img class="hero-girl__image" src="./images/mobile/hero-girl-mobile@1x.png" alt="icecream" />
            </picture> -->
          </div>
        </div>
      </section>