
  <div class="about-backdrop backdrop is-hidden js-about-modal">
    <div class="about-form">
      <button type="button" class="about-close-button js-about-modal-close">
        <svg class="about-form__icon-close" width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-modal-close"></use>
        </svg>
      </button>
      <p class="about-form__title">Let’s talk ice cream</p>
      <p class="about-form__description">Ice cream and ice cream are named by the recipe (for the last used more milk) and by the method of preparation. Some people think that ice cream in supermarkets is ice cream. It is not always so.</p>
    </div>
  </div>