// ---------------------- CONTACTS BUTTONS -------------------  //

.contacts-locations-button {
  @extend %button--pink;
  @extend %flex-center-style;

  @media screen and (max-width: 767px) {
    width: 161px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 191px;
    margin-right: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: 198px;
    margin-right: 15px;
  }
}

.contacts-franchise-button {
  @extend %button--white;
  @extend %flex-center-style;

  @media screen and (max-width: 767px) {
    width: 161px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 174px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}

.button__text {
  margin-right: 13px;
}

.button__icon--white {
  stroke: $primary-color;
}

.button__icon--pink {
  stroke: $primary-brand-color;
}

// ---------------------- Header BUTTONS -------------------  //

.header-button {
  @extend %button--white;
  @extend %flex-center-style;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    width: 160px;
  }
}

.modal-button {
  @extend %button--white;
  @extend %flex-center-style;
  margin-top: 60px;
  margin-bottom: 19px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    width: 209px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 186px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
    margin: 0;
  }
}

.order-button {
  @extend %button--pink;
  @extend %flex-center-style;
  margin: 60px auto 19px;
  @media screen and (max-width: 767px) {
    width: 209px;
  }
  @media screen and (min-width: $tablet) {
    width: 186px;
  }
}

.modal-button__text {
  @media screen and (max-width: 767px) {
    margin-right: 16px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-right: 12px;
  }
}

// ---------------------- FRANCHISE-MODAL BUTTONS -------------------  //

.franchise-close-button {
  @extend %flex-center-style;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  padding: 2px;
  background-color: transparent;

  &:hover,
  &:focus {
    .franchise-form__icon-close {
      transform: scale(1.25);
      fill: $primary-brand-color;
    }
  }
}

.franchise-form__icon-close {
  transform: scale(1);
  transition: fill $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;
  fill: $secondary-text-color;
}

.franchise-form-button {
  @extend %button--pink;

  @media screen and (max-width: 767px) {
    width: 140px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 174px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;
  }

  &:hover,
  &:focus {
    .franchise-form-button__text {
      transform: scale(1.25);
    }
  }
}

.franchise-form-button__text {
  display: inline-block;
  transform: scale(1);
  transition: transform $transition-duration $transition-timing-function;
}
