.mobile-menu {
  position: fixed;
  top: 0px;
  right: 0;
  @media screen and (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    background-color: $primary-brand-shadow-color;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 254px;
    background-color: $primary-brand-shadow-color;
    height: 100vh;
  }
  @media screen and (min-width: $desktop) {
    position: static;
  }
}

.cross-button {
  position: absolute;
  display: block;
  top: 23px;
  right: 28px;
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    top: 23px;
    right: 34px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-container {
  padding: 60px 20px;
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    padding: 60px 24px;
  }
}

.menu-button {
  width: 20px;
  height: 14px;
  fill: $primary-brand-color;
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-right: 28px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

////
