.gallery {
  background-image: linear-gradient(to top, $primary-color 60.2%, $secondary-color 39.8%);
}

.gallery__container {
  margin: 0 auto;
  max-width: 320px;
  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }
  @media screen and(min-width:$tablet) {
    max-width: 768px;
  }
  @media screen and(min-width:$desktop) {
    max-width: 1280px;
  }
}
