.gallegy {
  background-image: url('../images/gallery/tel-gallery.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/gallery/tel-gallery-2x.jpg');
  }
  @media screen and (min-width: $tablet) {
    background-image: url('../images/gallery/table-gallery.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/gallery/table-gallery-2x.jpg');
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url('../images/gallery/gallery.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/gallery/gallery-2x.jpg');
    }
  }
}
