.hero {
  position: relative;
  padding-top: 193px;
  padding-bottom: 160px;
  background-color: $secondary-brand-color;
  background-image: url(/images/hero/mobile/hero-ellipse-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: right bottom 72px;
  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 173px;
  }
  @media screen and (min-width: $desktop) {
    & .hero__container {
      padding-right: 97px;
    }
  }
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-block__wrapper {
  z-index: 1;
  position: relative;
  width: 218px;
  @media screen and (min-width: $tablet) {
    width: 208px;
  }
}

.hero-title-block__list {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}

.hero-title-block__item:not(last.child) {
  margin-right: 8px;
}

.hero-outlets-numbers__wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-outlets-numbers__item:not(last.child) {
	margin-bottom: 13px;
}

.hero-outlets-numbers__title {
	text-align: end;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-brand-color;
}

.hero-outlets-numbers__text {
	text-align: end;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: $primary-color;
}

.hero-jug-block__wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 28px;
  left: 34px;
}

.hero-jug-block__image {
  width: 124px;
}

.hero-jug-block__article {
  width: 114px;
}

.hero-jug-block__text {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: $primary-color;
}

.hero-icecream__image {
  width: 171px;
  position: absolute;
  bottom: 0;
  right: 32px;
  @media screen and (min-width: $tablet) {
    width: 171px;
    right: 247px;
  }
}

.hero-girl__wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-girl__image {
  position: absolute;
  width: 168px;
  bottom: 0;
  right: 34px;
}
