.products {
  padding: 121px 0 98px;

  @media screen and (min-width: $tablet) {
    padding: 122px 0 112px;
  }
  @media screen and (min-width: $desktop) {
    padding: 127px 0 119px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 15px;
  }

  &__title {
    text-align: center;
    margin-bottom: 31px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 39px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 49px;
    }
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -9px;
    }

    @media screen and (min-width: $desktop) {
      margin: -15px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 17px;

    @media screen and (min-width: $tablet) {
      margin: 9px;
    }

    @media screen and (min-width: $desktop) {
      margin: 15px;
    }
  }

  &__item {
    width: 280px;
    height: 485px;
    padding: 161px 40px 41px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 24px;
    background-color: $secondary-brand-color;
    text-align: center;

    @media screen and (min-width: $tablet) {
      width: 220px;
      flex-basis: calc(100% / 3 - 36px);
      padding: 152px 11px 40px;
      margin: 9px;
    }

    @media screen and (min-width: $desktop) {
      width: 330px;
      height: 525px;
      flex-basis: calc(100% / 3 - 60px);
      padding: 163px 44px 50px;
      margin: 15px;
    }
  }

  &__item:first-child {
    background-color: $secondary-brand-color;
  }

  &__item:nth-child(2) {
    background-color: $second-card-color;
  }

  &__item:last-child {
    background-color: $third-card-color;
  }

  &__item-wrap {
    width: 100%;

    // @media screen and (min-width: $tablet) {
    //   width: 220px;
    // }

    // @media screen and (min-width: $desktop) {
    //   width: 330px;
    //   height: 525px;
    // }
  }

  &__item-title {
    font-family: $secondary-font;
    @include font(400, 20px, 1.15, 0.04em);
    color: $primary-color;

    @media screen and (min-width: $desktop) {
      @include font(400, 30px, 1.13, 0.04em);
    }
  }

  &__item:first-child::before,
  &__item:nth-child(2)::before,
  &__item:last-child::before {
    content: '';
    display: block;
    width: 249px;
    height: 252px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -180px auto 22px;
  }

  &__item:first-child::before {
    background-image: url('../images/products/ice_cream-mob-1x.png');
  }

  &__item:nth-child(2)::before {
    background-image: url('../images/products/ice_coffee-mob-1x.png');
  }

  &__item:last-child::before {
    background-image: url('../images/products/milkshakes-mob-1x.png');
  }

  &__item-title::after {
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    margin: 30px auto;
    background-image: url('../images/products/dots-1x.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/dots-2x.png');
    }

    @media screen and (min-width: $desktop) {
      margin: 32px auto;
    }
  }

  &__item-text {
    @include font(700, 14px, 1.52, 0.04em);
    color: $primary-color;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      @include font(700, 14px, 1.76, 0.04em);
      margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
      @include font(700, 16px, 1.76, 0.04em);
      margin-bottom: 62px;
    }
  }
}
